<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</head>
<body>

<canvas id="canvas"></canvas>
<div class="wrapper">
    <div class="connected">boring sidebar that should dieeee</div>
    <div class="anime">
        <div class="container">
        </div>
    </div>
    <div class="gatekeeper">gatekeeper</div>
    <div class="video"><iframe class="vidframe" src="https://www.youtube.com/embed/6S5oGjTckU8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

</div>
</body>
</html>

