<!DOCTYPE html>
<html>
<head>
  <title>testpage - settings</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}" type="text/css"/>
  <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css') }}" type="text/css"/>
  <link rel="stylesheet" href="{{url_for('static', filename='css/settings.css') }}" type="text/css"/>
  <script src="{{url_for('static', filename='scripts/settings.js') }}"></script>
  <script src="{{url_for('static', filename='scripts/menu.js') }}"></script>

</head>
<body>
<div id="sidemenu" class="sidemenu w3-sidebar w3-bar-block">
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <a href="/settings" class="w3-bar-item w3-button">Settings</a>
</div>

<div class="grid-container" id="grid-container">
  <div class="container">
    <div class="settings">
      
        <form>
          <fieldset id="Anime">
            <legend>Anime</legend>      
              <input class="input" type="text" name="shows" value="opm" placeholder="One punch man S2, Boku no hero academia S3, ...">
          </fieldset>
          <br> 
          
          <fieldset id="Gatekeeper">
            <legend>Gatekeeper</legend>
              <input class="input" type="text" name="gatekeeper" placeholder="person1:00:00:00:FF:FF:FF, person2:11:11:11:AA:AA:AA">
          </fieldset>
          <br><br>
          -------------------------------------------------------
          <br><br>
          <fieldset id="Credentials">
            <legend>Credentials</legend><br>

          Location: <br>
          <label>AppId
          <input class="input" type="text" name="hereAppID" placeholder="appID"></label>
          <label>AppCode
          <input class="input" type="text" name="hereAppCode" placeholder="appCode"></label>
          <br>
          Reddit: <br>
          <label>Username
          <input class="input" type="text" name="redditUsername" placeholder="username"></label>
          <label>ClientID
          <input class="input" type="text" name="redditClientId" placeholder="clientID"></label>
          <label>ClientSecret
          <input class="input" type="password" name="redditClientSecret" placeholder="clientSecret"></label>
          <label>Password
          <input class="input" type="password" name="redditPassword" placeholder="password"></label>
          
          <br>
          <button class="submitbutton" type="button" id="button" name="button">
            Submit
          </button>
        </form>
      
    </div>
  </div>
</div>
</body>
</html>

